apiVersion: apps/v1
kind: Deployment
metadata:
  name: nachet-rcnn-detector
  namespace: nachet-dev
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: nachet-rcnn-detector
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: nachet-rcnn-detector
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - nachet-rcnn-detector
              topologyKey: "kubernetes.io/hostname"
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - ai-lab-2
      containers:
        - name: nachet-rcnn-detector
          image: ghcr.io/ai-cfia/nachet-backend:29-azureml-seed-detector
          imagePullPolicy: Always
          command: ["/bin/sh", "-c"]
          args: ['./startup.sh']
          # envFrom:
          #   - secretRef:
          #       name: nachet-rcnn-detector-secrets
          ports:
            - containerPort: 5001
          volumeMounts:
            - name: logs
              mountPath: /app/logs
            - name: tmp
              mountPath: /tmp
          livenessProbe:
            httpGet:
              path: /
              port: 5001
            initialDelaySeconds: 120
            periodSeconds: 120
          resources:
            requests:
              cpu: "4"
              memory: "4Gi"
            limits:
              cpu: "4"
              memory: "8Gi"
          securityContext:
            runAsNonRoot: false
            runAsUser: 1000
            runAsGroup: 1000
            readOnlyRootFilesystem: false
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
      volumes:
        - name: tmp
          emptyDir:
            medium: Memory
            sizeLimit: 500Mi
        - name: logs
          emptyDir:
            medium: Memory
            sizeLimit: 500Mi
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: nachet-rcnn-detector-pdb
  namespace: nachet-dev
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: nachet-rcnn-detector
---
apiVersion: v1
kind: Service
metadata:
  name: nachet-rcnn-detector-svc
  namespace: nachet-dev
spec:
  clusterIP: None
  selector:
    app: nachet-rcnn-detector
  ports:
    - protocol: TCP
      port: 5001

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nachet-rcnn-detector-triton
  namespace: nachet-dev
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: nachet-rcnn-detector-triton
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: nachet-rcnn-detector-triton
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - nachet-rcnn-detector-triton
              topologyKey: "kubernetes.io/hostname"
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - ai-lab-2
      imagePullSecrets:
        - name: ghcr-image-pull-secret
      containers:
        - name: nachet-rcnn-detector-triton
          image: ghcr.io/ai-cfia/nachet-model-ccds/detector-rcnn-15spp:t25.10-p2.9.1-cpu-2025111301
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          volumeMounts:
            - name: logs
              mountPath: /app/logs
            - name: tmp
              mountPath: /tmp
          livenessProbe:
            httpGet:
              path: /v2/health/ready
              port: 8000
            initialDelaySeconds: 120
            periodSeconds: 120
          resources:
            requests:
              cpu: "4"
              memory: "4Gi"
            limits:
              cpu: "4"
              memory: "8Gi"
          securityContext:
            runAsNonRoot: false
            runAsUser: 1000
            runAsGroup: 1000
            readOnlyRootFilesystem: false
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
      volumes:
        - name: tmp
          emptyDir:
            medium: Memory
            sizeLimit: 500Mi
        - name: logs
          emptyDir:
            medium: Memory
            sizeLimit: 500Mi
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: nachet-rcnn-detector-triton-pdb
  namespace: nachet-dev
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: nachet-rcnn-detector-triton
---
apiVersion: v1
kind: Service
metadata:
  name: nachet-rcnn-detector-triton-svc
  namespace: nachet-dev
spec:
  clusterIP: None
  selector:
    app: nachet-rcnn-detector-triton
  ports:
    - protocol: TCP
      port: 8000
